.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-order-1 {
  order: 1;
}

.flex-order-2 {
  order: 2;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-items-center {
  align-items: center;
}

.flex-items-start {
  align-items: flex-start;
}

.flex-items-end {
  align-items: flex-end;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-gap-1 {
  gap: 1rem;
}

.flex-gap-2 {
  gap: 2rem;
}

.flex-gap-3 {
  gap: 3rem;
}

.flex-gap-4 {
  gap: 4rem;
}

.basis-0 {
  flex-basis: 0px;
}

.basis-1 {
  flex-basis: 0.25rem;
}

.basis-2 {
  flex-basis: 0.5rem;
}

.basis-3 {
  flex-basis: 0.75rem;
}

.basis-4 {
  flex-basis: 1rem;
}

.basis-5 {
  flex-basis: 1.25rem;
}

.basis-6 {
  flex-basis: 1.5rem;
}

.basis-7 {
  flex-basis: 1.75rem;
}

.basis-8 {
  flex-basis: 2rem;
}

.basis-9 {
  flex-basis: 2.25rem;
}

.basis-10 {
  flex-basis: 2.5rem;
}

.basis-11 {
  flex-basis: 2.75rem;
}

.basis-12 {
  flex-basis: 3rem;
}

.basis-14 {
  flex-basis: 3.5rem;
}

.basis-16 {
  flex-basis: 4rem;
}

.basis-20 {
  flex-basis: 5rem;
}

.basis-24 {
  flex-basis: 6rem;
}

.basis-28 {
  flex-basis: 7rem;
}

.basis-32 {
  flex-basis: 8rem;
}

.basis-36 {
  flex-basis: 9rem;
}

.basis-40 {
  flex-basis: 10rem;
}

.basis-44 {
  flex-basis: 11rem;
}

.basis-48 {
  flex-basis: 12rem;
}

.basis-52 {
  flex-basis: 13rem;
}

.basis-56 {
  flex-basis: 14rem;
}

.basis-60 {
  flex-basis: 15rem;
}

.basis-64 {
  flex-basis: 16rem;
}

.basis-72 {
  flex-basis: 18rem;
}

.basis-80 {
  flex-basis: 20rem;
}

.basis-96 {
  flex-basis: 24rem;
}

.basis-auto {
  flex-basis: auto;
}

.basis-px {
  flex-basis: 1px;
}

.basis-sm {
  flex-basis: 0.125rem;
}

.basis-lg {
  flex-basis: 0.375rem;
}

.basis-xl {
  flex-basis: 0.625rem;
}

.basis-2xl {
  flex-basis: 0.875rem;
}

.basis-full {
  flex-basis: 100%;
}
