:root {
  --red: #eb4b4d;
  --blue: #4bb1eb;
  --violet: #766fc0;
  --purple: #c2679e;
  --yellow: #eccf67;
  --yellow-200: #ff9800;
  --dark-blue: #0d6efd;
  --light-blue: #25A0F5;
  --indigo: #6610f2;
  --pink: #d63384;
  --orange: #d9b945;
  --teal: rgb(32, 201, 151);
  --green-100: rgb(223, 248, 235);
  --green-200: rgb(193, 247, 154);
  --green-300: rgb(69, 193, 78);
  --green-400: rgb(25, 159, 132);
  --cyan-100: lightcyan;
  --cyan-200: #0dcaf0;
  --white: #fff;
  --navy-blue-100: #0d4e6e;
  --navy-blue-200: #00324B;
  --gray-v2-100: #f7f7f7;
  --gray-v2-200: #6c757d;
  --dark: #2b2c38;
  --light: #e8fbf0;
  --dark-gray-1: #343a40;
  --dark-gray-2: #002C43;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
  --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --body-font-family: var(--font-sans-serif);
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: #212529;
  --body-color-v2: #fcfcfc;
  --body-bg: #fff;
  --shadow-xs: 0px 1px 4px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0px 2px 8px rgba(0, 0, 0, 0.05);
  --shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
  --shadow-lg: 0px 4px 16px rgba(0, 0, 0, 0.07);
  --shadow-xl: 0px 5px 20px rgba(0, 0, 0, 0.07);
  font-size: 12px;
  --rounded: 50%;
}

* {
  transition: all 0.25s ease-in-out;
}

body {
  font-family: 'Inter', sans-serif;
  max-width: 1248px;
  margin: 0 auto;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: var(--dark);
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
}

p {
  font-size: 1.125rem;
  color: var(--dark);
}

a {
  text-decoration: none;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-5xl {
  font-size: 3rem;
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

/* positions */

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

/* Widths and heights*/

.w-full {
  width: 100%;
}

/* Text alignment  */

.text-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}

/* Colors */

.text-white {
  color: var(--white);
}


/* Box */
