.toast {
  padding: 2rem;
  box-shadow: var(--shadow-sm);
  border-radius: 1rem;
  min-width: 30rem;
  backdrop-filter: blur(0.5rem);
  display: none;
}

.toast.toast-default {
  background-color: rgb(255 255 255 / 60%);
  color: var(--dark);
}

.toast.toast-primary {
  background-color: rgb(102 16 242 / 60%);
  color: var(--white);
}

.toast.show-toast {
  display: flex;
  z-index: 9999;
}
